.button {
	align-self: flex-start;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.profile > .username {
	font-size: 1.4rem;
}

.profile > .bio {
	font-size: 0.9rem;
	margin-left: 10px;
}

.profile > p {
	margin: 5px;
}