@font-face {
	src: url("../fonts/KaushanScript-Regular.ttf");
	font-family: "KaushanScript";
}

* {
	color: var(--text);
	box-sizing: border-box;
	font-size: var(--font-size-main);
	font-weight: 500;
	-webkit-tap-highlight-color: transparent;
}

.link {
	text-decoration: none;
}

.link > * {
	text-decoration: none;
}

.link:active {
	text-decoration: underline;
}

.link:active > * {
	text-decoration: underline;
}

p {
	margin: 0;
}

p.title {
	font-size: var(--font-size-main);
	padding: 10px 0;
}