#main {
	height: 100%;
	margin: 10px 600px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

@media only screen and (max-width: 1800px) {
	#main {
		margin: 10px 400px;
	}
}

@media only screen and (max-width: 1600px) {
	#main {
		margin: 5px 200px;
	}
}

@media only screen and (max-width: 1200px) {
	#main {
		margin: 2px 80px;
	}
}

@media only screen and (max-width: 480px) {
	#main {
		margin: 0 20px;
	}
}