.profile {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px 0;
}

.profile > .username {
	font-size: var(--font-size-big);
}

.profile > .bio {
	font-size: var(--font-size-main-small);
}

.profile > .text-bottom {
	font-size: var(--font-size-main-big);
	margin-top: 20px;
}

.profile > p {
	margin: 5px;
}